<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" class="mt-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="form-group">
        <div class="password-wrapper">
          <input type="{{ showOldPassword ? 'text' : 'password' }}" class="form-control"
            placeholder="Enter old password" formControlName="oldPassword" />
          <label>Old Password <span class="required-asterisk">*</span></label>
          <button type="button" id="togglePassword" class="eye-button" (click)="oldPasswordVisibility()">
            <em class="eye-icon fas" [ngClass]="showOldPassword ? 'fa-eye' : 'fa-eye-slash'"></em>
          </button>
          <div *ngIf="
              (isSubmitted || form['oldPassword'].touched) &&
              form['oldPassword'].hasError('required')
            " class="text-danger">
            Old password is required.
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <div class="password-wrapper">
          <input type="{{ showNewPassword ? 'text' : 'password' }}" class="form-control"
            placeholder="Enter new password" formControlName="newPassword" />
          <label>New Password <span class="required-asterisk">*</span></label>
          <button type="button" id="togglePassword" class="eye-button" (click)="newPasswordVisibility()">
            <em class="eye-icon fas" [ngClass]="showNewPassword ? 'fa-eye' : 'fa-eye-slash'"></em>
          </button>
          <div *ngIf="
          (isSubmitted || form['newPassword'].touched) &&
          form['newPassword'].hasError('required')
        " class="text-danger">
            New password is required.
          </div>
          <div *ngIf="
          (isSubmitted || form['newPassword'].touched) &&
          form['newPassword'].hasError('minlength')
        " class="text-danger">
            New password should be at least 8 characters long.
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="form-group">
        <div class="password-wrapper">
          <input type="{{ showConfirmPassword ? 'text' : 'password' }}" class="form-control"
            placeholder="Confirm new password" formControlName="confirmPassword" />
          <label>Confirm Password <span class="required-asterisk">*</span></label>
          <button type="button" id="togglePassword" class="eye-button" (click)="confirmPasswordVisibility()">
            <em class="eye-icon fas" [ngClass]="showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'"></em>
          </button>
          <div *ngIf="
              (isSubmitted || form['confirmPassword'].touched) &&
              form['confirmPassword'].hasError('required')
            " class="text-danger">
            Confirm password is required.
          </div>
          <div *ngIf="
              (isSubmitted || form['confirmPassword'].touched) &&
              form['confirmPassword'].hasError('mismatch')
            " class="text-danger">
            Passwords do not match.
          </div>
        </div>
      </div>
    </div>
  </div>


  <button type="submit" class="btn btn-primary mt-2 mb-0">
    Change Password
  </button>
</form>