<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-8 col-xs-10 card-sigin-main py-4 justify-content-center mx-auto">
          <div class="card-sigin">
            <!-- Demo content-->
            <div class="main-card-signin d-md-flex">
              <div class="wd-100p">
                <div class="main-card-signin d-md-flex bg-white">
                  <div class="wd-100p">
                    <div class="main-signin-header">
                      <h2>Forgot Password!</h2>
                      <h4>Please Enter Your Email</h4>

                      <form [formGroup]="passwordResetForm" (ngSubmit)="submitForm()">
                        <div class="form-group">
                          <input class="form-control" placeholder="Enter your email" formControlName="email"
                            (blur)="removeSpace($event)" />
                          <label>Email <span class="required-asterisk">*</span></label>
                          <div *ngIf="
                              passwordResetForm.get('email')?.invalid &&
                              passwordResetForm.get('email')?.touched
                            " class="text-danger">
                            <div *ngIf="
                                passwordResetForm
                                  .get('email')
                                  ?.hasError('required')
                              ">
                              Email is required.
                            </div>
                            <div *ngIf="
                                passwordResetForm
                                  .get('email')
                                  ?.hasError('email')
                              ">
                              Invalid email format.
                            </div>
                          </div>
                        </div>
                        <button [disabled]="passwordResetForm.invalid" class="btn btn-primary btn-block" type="submit">
                          Send
                          <!-- routerLink="/auth/verify-email-address" -->
                        </button>
                      </form>
                    </div>
                    <div class="main-signup-footer mg-t-20 text-center">
                      <p>
                        Forget it,
                        <a href="javascript:void(0);" (click)="navigateTologin()">
                          Send me back</a>
                        to the sign in screen.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>