<app-page-header [title]="'Lesson Wise Topic and Subtopic'" [items]="['Lesson Wise Topic and Subtopic']"
  [active_item]="'Add Lesson Wise Topic and Subtopic'"></app-page-header>
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card add-staff-here-update-cls">
      <div class="card-header pb-0">
        <div class="d-flex justify-content-between blocking-responsive">
          <h4 class="card-title mg-b-0">Add Lesson Wise Topic and Subtopic</h4>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="lessonPlanningForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-group col-6 selection-label-reverse">
              <label>Select Medium <span class="required-asterisk">*</span></label>
              <ng-select id="inputGroupSelect01" (change)="medium($event)" formControlName="medium" [clearable]="false">
                <ng-option value="{{ Data.id }}" *ngFor="let Data of mediumList">
                  {{ Data.name }}
                </ng-option>
              </ng-select>
              <div *ngIf="(isSubmitted || form['medium'].touched) && form['medium'].errors?.['required']"
                class="text-danger">
                Medium is required.
              </div>
            </div>
            <div class="form-group col-6 selection-label-reverse">
              <label>Select Subject <span class="required-asterisk">*</span></label>
              <ng-select id="inputGroupSelect01" (change)="subject($event)" formControlName="subject"
                [clearable]="false">
                <ng-option value="{{ Data.id }}" *ngFor="let Data of subjectList">
                  {{ Data.name }}
                </ng-option>
              </ng-select>
              <div *ngIf="(isSubmitted || form['subject'].touched) && form['subject'].errors?.['required']"
                class="text-danger">
                Subject is required.
              </div>
            </div>
            <div class="form-group col-6 selection-label-reverse">
              <label>Select Standard <span class="required-asterisk">*</span></label>
              <ng-select id="inputGroupSelect01" (change)="standard($event)" formControlName="standard"
                [clearable]="false">
                <ng-option value="{{ Data.id }}" *ngFor="let Data of standardList">
                  {{ Data.name }}
                </ng-option>
              </ng-select>
              <div *ngIf="(isSubmitted || form['standard'].touched) && form['standard'].errors?.['required']"
                class="text-danger">
                Standard is required.
              </div>
            </div>
            <div class="form-group col-6 selection-label-reverse">
              <label>Select Lesson <span class="required-asterisk">*</span></label>
              <ng-select id="inputGroupSelect01" (change)="lesson($event)" formControlName="lesson" [clearable]="false">
                <ng-option value="{{ Data.id }}" *ngFor="let Data of lessonList">
                  {{ Data.lesson }}
                </ng-option>
              </ng-select>
              <div *ngIf="(isSubmitted || form['lesson'].touched) && form['lesson'].errors?.['required']"
                class="text-danger">
                Lesson is required.
              </div>
            </div>
            <div class="form-group col-6 selection-label-reverse">
              <label>Add Lesson Planning Status <span class="required-asterisk">*</span></label>
              <select class="form-control" formControlName="status">
                <option value="true">Active</option>
                <option value="false">In Active</option>
              </select>
              <div *ngIf="(isSubmitted || form['status'].touched) && form['status'].errors?.['required']"
                class="text-danger">
                Add Lesson Planning Status is required.
              </div>
            </div>
          </div>

          <div class="form-group" formArrayName="topics">
            <div *ngFor="let topic of getTopicsControl(); let i = index">
              <div class="row blocking-responsive all-side-less" formGroupName="{{i}}">
                <div class="form-group selection-label-reverse col-4">
                  <input type="text" class="form-control" placeholder="Topic Name" formControlName="name" />
                  <label>Topic Name <span class="required-asterisk">*</span></label>
                  <span *ngIf="(isSubmitted || topic.get('name')?.touched) && topic.get('name')?.hasError('required')"
                    class="text-danger position-set">
                    Topic Name is required.
                  </span>
                </div>
                <div class="form-group selection-label-reverse width-custom-add col-4">
                  <input type="number" class="form-control" placeholder="Version No" formControlName="version_no" />
                  <label>Version No <span class="required-asterisk">*</span></label>
                  <span
                    *ngIf="(isSubmitted || topic.get('version_no')?.touched) && topic.get('version_no')?.hasError('required')"
                    class="text-danger position-set">
                    Version No is required.
                  </span>
                </div>
                <div class="form-group col-2 text-end w-100 set-cls-add-grid">
                  <button class="btn btn-danger all-cls-top" type="button" (click)="removeTopic(i)">
                    <span class="cross-cls-svg-added">
                      <i class="fas fa-times"></i>
                    </span>
                  </button>
                </div>
                <div class="form-group col-2 text-end w-100 set-cls-add-grid">
                  <button class="btn btn-primary all-cls-top" type="button" (click)="addSubtopic(i)">Add
                    Subtopic</button>
                </div>

                <div class="form-group" formArrayName="sub_topics"
                  *ngIf="lessonPlanningForm.get('topics.' + i + '.sub_topics')">
                  <div *ngFor="let subtopic of getControl(i); let j = index">
                    <div
                      class="d-flex align-items-start justify-content-center all-cls-alignproper blocking-responsive all-side-less"
                      formGroupName="{{j}}" style="padding-left: 18px;">
                      <div class="form-group selection-label-reverse col-lg-6">
                        <input type="text" class="form-control" placeholder="Sub Topic Name" formControlName="name" />
                        <label>Sub Topic Name <span class="required-asterisk">*</span></label>
                        <span
                          *ngIf="(isSubmitted || subtopic.get('name')?.touched) && subtopic.get('name')?.hasError('required')"
                          class="text-danger position-set">
                          Sub Topic Name is required.
                        </span>
                      </div>
                      <div class="form-group selection-label-reverse col-lg-6">
                        <input type="number" class="form-control" placeholder="Version No"
                          formControlName="version_no" />
                        <label>Version No <span class="required-asterisk">*</span></label>
                        <span
                          *ngIf="(isSubmitted || subtopic.get('version_no')?.touched) && subtopic.get('version_no')?.hasError('required')"
                          class="text-danger position-set">
                          Version No is required.
                        </span>
                      </div>
                      <div class="form-group">
                        <button class="btn btn-danger" type="button" (click)="removeSubtopic(i, j)">
                          <span class="cross-cls-svg-added">
                            <i class="fas fa-times"></i>
                          </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-primary mb-0 mx-auto text-center" type="button" (click)="addTopic()">Add
                Topic</button>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-4 mb-0">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>