<app-page-header
  [title]="'Observation Sub Working Area'"
  [items]="['Observation Sub Working Area']"
  [active_item]="'Observation Sub Working Area'"
></app-page-header>
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card add-staff-here-update-cls">
      <div class="card-header pb-0">
        <div class="d-flex justify-content-between blocking-responsive">
          <h4 class="card-title mg-b-0">Observation Sub Working Area List</h4>
        </div>

        <div
          class="d-flex blocking-responsive justify-content-end align-items-center mt-2"
        >
          <div class="d-flex spacing-down-side position-relative">
            <input
              class="form-control me-2 ms-1"
              type="text"
              placeholder="Search..."
              [(ngModel)]="searchString"
              (keyup.enter)="onSearch()"
            />
            <div class="set-position-auto-cls-adding">
              <i
                class="fas fa-search"
                (click)="onSearch()"
                [ngClass]="{ 'hide-icon': searchString }"
              ></i>
              <i
                class="far fa-times-circle"
                (click)="onClear()"
                [ngClass]="{ 'show-icon': searchString }"
              ></i>
            </div>
          </div>
          <div class="d-flex blocking-responsive">
            <div class="add-reporting spacing-down-side">
              <button
                class="btn btn-primary spacing-left"
                (click)="onModalOpen()"
              >
                <span class="add-ics-cls-proper-adding"
                  ><i class="fas fa-plus"></i></span
                >Add
              </button>
            </div>
            <div class="export-btn-cls-add spacing-down-side">
              <select #selectExportAll (change)="exportAll(selectExportAll.value)">
                <option value="" selected disabled>Export</option>
                <option value="pdf">Export to PDF</option>
                <option value="excel">Export to Excel</option>
                <option value="csv">Export to CSV</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table summary="table" class="table mg-b-0 text-md-nowrap table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col" (click)="sortData('name')">
                  Observation Sub Working Area
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color': orderBy === 'name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color': orderBy === 'name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('short_code')">
                  Observation Sub Working Area Short Code
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color': orderBy === 'short_code' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color': orderBy === 'short_code' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('admin_group_name')">
                  Group
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'admin_group_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'admin_group_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('admin_sub_group_name')">
                  Sub group
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'admin_sub_group_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'admin_sub_group_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('admin_role_name')">
                  Role
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'admin_role_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'admin_role_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('observation_type_name')">
                  Observation Type
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'observation_type_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'observation_type_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('is_active')">
                  Observation Status
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color': orderBy === 'is_active' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color': orderBy === 'is_active' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>

                <th scope="col" (click)="sortData('created_at')">
                  Date & Time
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>

                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="getObservationSubWorkingList.length">
              <tr
                *ngFor="let item of getObservationSubWorkingList; let i = index"
              >
                <th scope="row">
                  {{ i + 1 + currentPage * pageLimit - pageLimit }}
                </th>
                <td>{{ item.name | titlecase }}</td>
                <td>{{ item.short_code | titlecase }}</td>

                <td>{{ item.admin_group_name | titlecase }}</td>
                <td>{{ item.admin_sub_group_name | titlecase }}</td>
                <td>{{ item.admin_role_name | titlecase }}</td>
                <td>{{ item.observation_type_name | titlecase }}</td>
                <td>{{ item.is_active ? "Active" : "In Active" }}</td>

                <td class="dateing-inn">
                  {{ item.created_at | date : "yyyy-MM-dd hh:mm a" }}
                </td>
                <td>
                  <div
                    class="d-flex align-items-center justify-content-center all-icons-edit-here-table-cls"
                  >
                    <i
                      (click)="editObservationSubWorking(item.id)"
                      class="fas fa-edit"
                    ></i>
                    <i
                      (click)="deleteObservationSubWorking(item.id)"
                      class="fas fa-trash"
                    ></i>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!getObservationSubWorkingList.length">
              <tr>
                <td colspan="14" class="text-center">No Data Found</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between p-2 record-pg-cls-cum-font">
          <div class="d-flex align-items-center">
            <select
              class="records-select"
              [(ngModel)]="pageLimit"
              name=""
              id=""
              (change)="onPageChange(1)"
            >
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option [value]="totalItems">all</option>
            </select>
            <h6 class="m-0">&nbsp;&nbsp; - records per page</h6>
          </div>
          <ngb-pagination
            [collectionSize]="totalItems"
            [maxSize]="5"
            [rotate]="true"
            [pageSize]="pageLimit"
            [(page)]="currentPage"
            aria-label="Default pagination"
            (pageChange)="onPageChange($event)"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #ObservationSubWorking>
  <div class="modal-header">
    <h4 class="modal-title">{{ EditId ? "Edit" : " Add" }} Sub Working Area</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="onModalClose()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="ObservationSubWorkingForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
          <label>Select group <span class="required-asterisk">*</span></label>
          <ng-select
            id="inputGroupSelect01"
            formControlName="Group"
            (change)="Group($event)"
            [clearable]="false"
          >
            <ng-option value="{{ Data.id }}" *ngFor="let Data of groupList">
              {{ Data.name }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="(isSubmitted || form['Group'].touched) && form['Group'].errors?.['required']"
            class="text-danger"
          >
            group is required.
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
          <label
            >Select Sub group <span class="required-asterisk">*</span></label
          >
          <ng-select
            id="inputGroupSelect01"
            formControlName="SubGroup"
            (change)="subGroup($event)"
            [clearable]="false"
          >
            <ng-option value="{{ Data.id }}" *ngFor="let Data of subGroupList">
              {{ Data.name }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="(isSubmitted || form['SubGroup'].touched) && form['SubGroup'].errors?.['required']"
            class="text-danger"
          >
            Sub group is required.
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
          <label>Select Role <span class="required-asterisk">*</span></label>
          <ng-select
            id="inputGroupSelect01"
            formControlName="Role"
            [clearable]="false"
            (change)="getRoleId($event)"
          >
            <ng-option value="{{ Data.id }}" *ngFor="let Data of roleList">
              {{ Data.name }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="(isSubmitted || form['Role'].touched) && form['Role'].errors?.['required']"
            class="text-danger"
          >
            Role is required.
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
          <label
            >Select Observation Type
            <span class="required-asterisk">*</span></label
          >
          <ng-select
            id="inputGroupSelect01"
            formControlName="observationType"
            [clearable]="false"
            (change)="getObservationId($event)"
          >
            <ng-option
              value="{{ Data.id }}"
              *ngFor="let Data of ObservationTypeList"
            >
              {{ Data.name }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="(isSubmitted || form['observationType'].touched) && form['observationType'].errors?.['required']"
            class="text-danger"
          >
            Observation Type is required.
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Observation Type Name"
            formControlName="name"
          />
          <label>
            Add Observation Type Name <span class="required-asterisk">*</span>
          </label>
          <div
            *ngIf="(isSubmitted || form['name'].touched) && form['name'].errors?.['required']"
            class="text-danger"
          >
            Observation Type Name is required.
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Observation Short code"
            formControlName="short_code"
          />
          <label
            >Observation Short code <span class="required-asterisk">*</span>
          </label>
          <div
            *ngIf="(isSubmitted || form['short_code'].touched) && form['short_code'].errors?.['required']"
            class="text-danger"
          >
            Observation is Short Code.
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
          <label>
            Observation Type Status
            <span class="required-asterisk">*</span></label
          >

          <select class="form-control" formControlName="Status">
            <option [value]="null" disabled selected>Select Status</option>
            <option value="true">Active</option>
            <option value="false">In Active</option>
          </select>
          <div
            *ngIf="(isSubmitted || form['Status'].touched) && form['Status'].errors?.['required']"
            class="text-danger"
          >
            Observation Type Status is required.
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-4 mb-0">Submit</button>
      </div>
    </form>
  </div>
</ng-template>
