<app-page-header [title]="'Roll No'" [items]="['Roll No']" [active_item]="'ROLL NUMBER FREEZE FUNCTIONALITY'"></app-page-header>
<div class="row row-sm">
    <div class="col-xl-12">
      <div class="card add-staff-here-update-cls">
        <div class="card-header pb-0 same-for-all-select-component-cls-adding">
          <div class="d-flex justify-content-between blocking-responsive">
            <h4 class="card-title mg-b-0">ROLL NUMBER FREEZE FUNCTIONALITY</h4>
          </div>
          <div class="d-flex blocking-responsive justify-content-end align-items-center mt-2">
            <div class="d-flex blocking-responsive">
              <div class="add-reporting spacing-down-side">
                <button class="btn btn-primary spacing-left" (click)="onModalOpen()">
                  <span class="add-ics-cls-proper-adding"><i class="fas fa-plus"></i></span>Freeze Roll Number
                </button>
              </div>
            </div>
            <div class="reportiong-framework-btn-cls-add spacing-down-side export-btn-cls-add">
              <select #exportUnanswer (change)="exportAll(exportUnanswer.value)">
                <option value="null " selected disabled>Export</option>
                <option value="pdf">Export to Pdf</option>
                <option value="excel">Export to Excel</option>
                <option value="csv">Export to CSV</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table summary="table" class="table mg-b-0 text-md-nowrap table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">Sr. No.</th>
                  <th scope="col">Division</th>
                  <th scope="col">Standard</th>
                  <th scope="col">Medium</th>
                  <th scope="col">Freeze Date </th>
                  <th scope="col">Reason for Freeze </th>
                  <th scope="col">Administrator Name</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="list.length">
                <tr *ngFor="let item of list; let i = index">
                  <th scope="row">
                    {{ i + 1 + currentPage * pageLimit - pageLimit }}
                  </th>
              <td>{{item.division}}</td>
              <td>{{item.standard}}</td>
              <td>{{item.medium}}</td>
              <td>{{item.freezeDate}}</td>
              <td>{{item.freezeReason}}</td>
              <td>{{item.administratorName ? item.administratorName :'-'}}</td>
                  <td>
                    <div class="d-flex align-items-center justify-content-center all-icons-edit-here-table-cls">
                      <i  class="fas fa-edit" (click)="onModalOpen('Edit',item)"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="!list.length">
                <tr>
                  <td colspan="14" class="text-center">No Data Found</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-flex justify-content-between p-2 record-pg-cls-cum-font">
            <div class="d-flex align-items-center">
              <select class="records-select" [(ngModel)]="pageLimit" name="" id="" (change)="onPageChange(1)">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option [value]="totalItems">All</option>
              </select>
              <h6 class="m-0">&nbsp;&nbsp; - records per page</h6>
            </div>
            <ngb-pagination [collectionSize]="totalItems" [pageSize]="pageLimit" [(page)]="currentPage"
              aria-label="Default pagination" [maxSize]="5" [rotate]="true" (pageChange)="onPageChange($event)">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>


<ng-template #RollnoFreeze>
    <div class="modal-header">
        <h4 class="modal-title"> Roll No Freeze</h4>
        <button type="button" class="close" aria-label="Close" (click)="onModalClose()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="addingpd-in-table-cls-add">
            <form [formGroup]="freezeRollNoForm" (ngSubmit)="onSubmit()" id="form-support">
              <div class="row">
                <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
                  <label>Administrator Name <span class="required-asterisk">*</span></label>
                  <ng-select (change)="divisionSelect($event)" formControlName="administratorName" [clearable]="false">
                    <ng-option value="{{ Data.id }}" *ngFor="let Data of staffList">
                      <!-- {{ Data.first_name + " " Data.middle_name+ " "+Data.last_name | titlecase }} -->
                      {{ Data.first_name |
                        titlecase }}
                        {{ Data.middle_name | titlecase }}
                        {{ Data.last_name | titlecase }}
                    </ng-option>
                  </ng-select>
                  <div *ngIf="(isSubmitted || form['administratorName'].touched) && form['administratorName'].errors?.['required']"
                    class="text-danger">
                    Administrator Name is required.
                  </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
                  <label>Medium <span class="required-asterisk">*</span></label>
                  <ng-select (change)="mediumSelect($event)" formControlName="medium" [clearable]="false" [multiple]="!editFlag ? true  : false">
                    <ng-option [value]=" Data.id"  *ngFor="let Data of mediumList">
                      {{ Data.name }}
                    </ng-option>
                  </ng-select>
                  <div *ngIf="(isSubmitted || form['medium'].touched) && form['medium'].errors?.['required']" class="text-danger">
                    Medium is required.
                  </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
                  <label>Standard <span class="required-asterisk">*</span></label>
                  <ng-select (change)="standardSelect($event)" formControlName="standard" [clearable]="false" [multiple]="!editFlag ? true  : false">
                    <ng-option [value]=" Data.id" *ngFor="let Data of standardList">
                      {{ Data.name }}
                    </ng-option>
                  </ng-select>
                  <div *ngIf="(isSubmitted || form['standard'].touched) && form['standard'].errors?.['required']"
                    class="text-danger">
                    Standard is required.
                  </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
                  <label>Division <span class="required-asterisk">*</span></label>
                  <ng-select (change)="divisionSelect($event)" formControlName="division" [clearable]="false" [multiple]="!editFlag ? true  : false" >
                    <ng-option [value]=" Data.id" *ngFor="let Data of divisionList">
                      {{ Data.name }}
                    </ng-option>
                  </ng-select>
                  <div *ngIf="(isSubmitted || form['division'].touched) && form['division'].errors?.['required']"
                    class="text-danger">
                    Division is required.
                  </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
                  <label>Freeze Date <span class="required-asterisk">*</span></label>
                  <input type="date" formControlName="freezeDate">
                  <div *ngIf="(isSubmitted || form['freezeDate'].touched) && form['freezeDate'].errors?.['required']"
                    class="text-danger">
                    Freeze Date is required.
                  </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
                  <label>Reason For Freeze </label>
                  <input type="text" formControlName="freezeReason">
                  <div *ngIf="(isSubmitted || form['freezeReason'].touched) && form['freezeReason'].errors?.['required']"
                    class="text-danger">
                    Reason For Freeze is required.
                  </div>
                </div>
            
              </div>
              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary me-2">
                  Submit
                </button>
                <button type="reset" class="btn btn-danger ms-2">
                  Reset
                </button>
              </div>
            </form>
        </div>
    </div>
</ng-template>