.link-button {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.error_message {
  color: red;
}

.custom-field-a {
  color: #f78d1e !important;
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.ng-select-design {
  border-color: #ced4da !important;
  border-radius: 0.25rem !important;
}

.form-check-input {
  margin-left: -7px !important;
  margin-top: 3px !important;
  border-color: #ced4da !important;
}

.form-check-label {
  margin: auto !important;
  margin-left: 12px !important;
}

.m-right-10 {
  margin-right: 10px !important;
}
