.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  background: #f78d1e !important;
}

.mat-toolbar.mat-primary {
  background: #f78d1e !important;
}

.mat-mdc-dialog-container,
.mat-mdc-dialog-container .mdc-dialog__container,
.mat-mdc-dialog-container .mdc-dialog__surface {
  max-height: 100% !important;
}

.mat-toolbar.mat-primary {
  background-color: #f78d1e !important;
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  background: #f78d1e !important;
}

.timepicker-dial__control:focus {
  background: transparent !important;
}

.mdc-button .mdc-button__label {
  color: #f78d1e !important;
}

.theme-green .bs-datepicker-head {
  background-color: #f78d1e !important;
}

.mat-mdc-fab.mat-primary,
.mat-mdc-mini-fab.mat-primary {
  background: #f78d1e !important;
}

.timepicker-dial__control:focus {
  background: transparent !important;
}

.mdc-button .mdc-button__label {
  color: #f78d1e !important;
}

.theme-green .bs-datepicker-body table td.week span {
  color: #f78d1e !important;
}
