<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div
          class="col-xl-5 col-lg-6 col-md-8 col-sm-8 col-xs-10 card-sigin-main mx-auto my-auto py-4 justify-content-center">
          <h2>Reset Password</h2>

          <div class="card-sigin">
            <div class="main-card-signin d-md-flex">
              <div class="wd-100p">
                <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordForm()">
                  <div class="form-group">
                    <div class="password-wrapper">
                      <input id="passwordInput" type="{{ showNewPassword ? 'text' : 'password' }}" class="form-control"
                        placeholder="Enter New Password" formControlName="newPassword" />
                      <label for="newPassword">New Password <span class="required-asterisk">*</span></label>
                      <button type="button" id="togglePassword" class="eye-button"
                        (click)="toggleNewPasswordVisibility()">
                        <em class="eye-icon fas" [ngClass]="
                        showNewPassword ? 'fa-eye' : 'fa-eye-slash'
                          "></em>
                      </button>
                      <div class="text-danger" *ngIf="
                        resetPasswordForm
                          .get('newPassword')
                          ?.hasError('required') &&
                        resetPasswordForm.get('newPassword')?.touched
                      ">
                        New password is required.
                      </div>
                      <div class="text-danger" *ngIf="
                        resetPasswordForm
                          .get('newPassword')
                          ?.hasError('minlength') &&
                        resetPasswordForm.get('newPassword')?.touched
                      ">
                        New password must be at least 8 characters long.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="password-wrapper">
                      <input id="confirmPassword" formControlName="confirmPassword"
                        type="{{ showConfirmPassword ? 'text' : 'password' }}" placeholder=" Enter Confirm Password"
                        class="form-control" required />
                      <label for="confirmPassword">Confirm Password <span class="required-asterisk">*</span></label>
                      <button type="button" id="togglePassword" class="eye-button"
                        (click)="toggleConfirmPasswordVisibility()">
                        <em class="eye-icon fas" [ngClass]="
                        showConfirmPassword ? 'fa-eye' : 'fa-eye-slash'
                          "></em>
                      </button>
                      <div class="text-danger" *ngIf="
                        resetPasswordForm
                          .get('confirmPassword')
                          ?.hasError('required') &&
                        resetPasswordForm.get('confirmPassword')?.touched
                      ">
                        Confirm password is required.
                      </div>
                      <div class="text-danger"
                        *ngIf="resetPasswordForm.errors?.['passwordMismatch'] &&resetPasswordForm.get('confirmPassword')?.touched">
                        Passwords do not match.
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">
                    Reset Password
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>