<app-page-header [title]="'LO Level'" [items]="['LO Level']" [active_item]="'Add LO Level'"></app-page-header>
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card add-staff-here-update-cls">
      <div class="card-header pb-0">
        <div class="d-flex justify-content-between blocking-responsive">
          <h4 class="card-title mg-b-0">LO Level List</h4>
        </div>
        <!-- <div class="d-flex blocking-responsive">
            <div class="me-2 d-flex spacing-down-side">
              <input class="form-control me-2 ms-1" type="text" placeholder="Search..." [(ngModel)]="searchString"
                (keyup.enter)="onSearch()" />
              <button class="btn btn-primary me-2" (click)="onSearch()">
                Search
              </button>
              <button class="btn btn-dark" (click)="onClear()">Clear</button>
            </div>
            <button class="btn btn-primary" (click)="onModalOpen()">
              Add LO Level
            </button>
          </div>
        </div> -->
        <div class="d-flex blocking-responsive justify-content-end align-items-center mt-2">
          <div class="d-flex spacing-down-side position-relative">
            <input class="form-control me-2 ms-1" type="text" placeholder="Search..." [(ngModel)]="searchString"
              (keyup.enter)="onSearch()" />
            <div class="set-position-auto-cls-adding">
              <i class="fas fa-search" (click)="onSearch()" [ngClass]="{ 'hide-icon': searchString }"></i>
              <i class="far fa-times-circle" (click)="onClear()" [ngClass]="{ 'show-icon': searchString }"></i>
            </div>
          </div>
          <div class="d-flex blocking-responsive">
            <div class="add-reporting spacing-down-side">
              <button class="btn btn-primary spacing-left" (click)="onModalOpen()">
                <span class="add-ics-cls-proper-adding"><i class="fas fa-plus"></i></span>Add
              </button>
            </div>
            <div class="export-btn-cls-add spacing-down-side">
              <select #selectExportAll (change)="exportAll(selectExportAll.value)">
                <option value="" selected disabled>Export</option>
                <option value="pdf">Export to PDF</option>
                <option value="excel">Export to Excel</option>
                <option value="csv">Export to CSV</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div cdkDropList  class="table-responsive" (cdkDropListDropped)="drop($event)">
          <table summary="table" class="table mg-b-0 text-md-nowrap table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col" (click)="sortData('name')">
                  LO Level
                  <div class="spacing-up-down-side-set">
                    <span class="arrow-up" [ngClass]="{
                        'arrow-color': orderBy === 'name' && isAscending
                      }"></span>
                    <span class="arrow-down" [ngClass]="{
                        'arrow-color': orderBy === 'name' && !isAscending
                      }"></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('is_active')">
                  Status
                  <div class="spacing-up-down-side-set">
                    <span class="arrow-up" [ngClass]="{
                        'arrow-color': orderBy === 'is_active' && isAscending
                      }"></span>
                    <span class="arrow-down" [ngClass]="{
                        'arrow-color': orderBy === 'is_active' && !isAscending
                      }"></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('created_at')">Date & Time
                  <div class="spacing-up-down-side-set">
                    <span class="arrow-up" [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && isAscending
                      }"></span>
                    <span class="arrow-down" [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && !isAscending
                      }"></span>
                  </div>
                </th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="loLevelRep.length">
              <tr *ngFor="let item of loLevelRep; let i = index" cdkDrag>
                <th scope="row">
                  {{ i + 1 + currentPage * pageLimit - pageLimit }}
                </th>
                <td>{{ item.name | titlecase }}</td>
                <td>{{ item.is_active ? "Active" : "In Active" }}</td>

                <td class="dateing-inn">
                  {{ item.created_at | date : "yyyy-MM-dd hh:mm a" }}
                </td>
                <td>

                  <div class="d-flex align-items-center justify-content-center all-icons-edit-here-table-cls">
                    <i (click)="editLOLevel(item.id)" class="fas fa-edit"></i>
                    <i (click)="deleteLOLevel(item.id)" class="fas fa-trash"></i>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!loLevelRep.length">
              <tr>
                <td colspan="14" class="text-center">No Data Found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #Subject>
  <div class="modal-header">
    <h4 class="modal-title">{{ EditId ? "Edit" : " Add" }} LO Level</h4>
    <button type="button" class="close" aria-label="Close" (click)="onModalClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="loLevelForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-12">
          <input type="text" class="form-control" placeholder="Enter LO Level" formControlName="name" />
          <label>LO Level <span class="required-asterisk">*</span> </label>
          <div *ngIf="(isSubmitted || form['name'].touched) && form['name'].errors?.['required']" class="text-danger">
            LO level is required.
          </div>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
          <label>Status <span class="required-asterisk">*</span></label>

          <select class="form-control" formControlName="status">
            <option value="true">Active</option>
            <option value="false">In Active</option>
          </select>
          <div *ngIf="(isSubmitted || form['status'].touched) && form['status'].errors?.['required']"
            class="text-danger">
            Status is required.
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-4 mb-0">Submit</button>
      </div>
    </form>
  </div>
</ng-template>