@import url('../../../../../assets/css/custom-field.scss');

.ng-select-design {
  border-color: #ced4da !important;
  border-radius: 0.25rem !important;
}

.form-check-input {
  margin-left: -7px !important;
  margin-top: 3px !important;
  border-color: #ced4da !important;
}

.form-check-label {
  margin: auto !important;
  margin-left: 12px !important;
}
