<app-page-header
  [title]="'Topic Wise LO'"
  [items]="['Topic Wise LO']"
  [active_item]="'Topic Wise LO'"
></app-page-header>
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card add-staff-here-update-cls">
      <div class="card-header pb-0">
        <div class="d-flex justify-content-between blocking-responsive">
          <h4 class="card-title mg-b-0">Topic Wise LO</h4>
        </div>
        <!-- <div class="d-flex blocking-responsive">
            <div class="me-2 d-flex spacing-down-side">
              <input class="form-control me-2 ms-1" type="text" placeholder="Search..." [(ngModel)]="searchString"
                (keyup.enter)="onSearch()" />
              <button class="btn btn-primary me-2" (click)="onSearch()">
                Search
              </button>
              <button class="btn btn-dark" (click)="onClear()">Clear</button>
            </div>
            <button class="btn btn-primary" (click)="addLessonPlanning()">
              Topic Wise LO
            </button>
          </div>
        </div> -->
        <div
          class="d-flex blocking-responsive justify-content-end align-items-center mt-2"
        >
          <div class="d-flex spacing-down-side position-relative">
            <input
              class="form-control me-2 ms-1"
              type="text"
              placeholder="Search..."
              [(ngModel)]="searchString"
              (keyup.enter)="onSearch()"
            />
            <div class="set-position-auto-cls-adding">
              <i
                class="fas fa-search"
                (click)="onSearch()"
                [ngClass]="{ 'hide-icon': searchString }"
              ></i>
              <i
                class="far fa-times-circle"
                (click)="onClear()"
                [ngClass]="{ 'show-icon': searchString }"
              ></i>
            </div>
          </div>
          <div class="d-flex blocking-responsive">
            <div class="add-reporting spacing-down-side">
              <button
                class="btn btn-primary spacing-left"
                (click)="addLessonPlanning()"
              >
                <span class="add-ics-cls-proper-adding"
                  ><i class="fas fa-plus"></i></span
                >Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table summary="table" class="table mg-b-0 text-md-nowrap table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col" (click)="sortData('medium_name')">
                  Medium
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color': orderBy === 'medium_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color': orderBy === 'medium_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('subject_name')">
                  Subject
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color': orderBy === 'subject_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'subject_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('standard_name')">
                  Standard
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'standard_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'standard_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('lesson_name')">
                  Lesson
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color': orderBy === 'lesson_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color': orderBy === 'lesson_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('topic_name')">
                  Topic Name
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color': orderBy === 'topic_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color': orderBy === 'topic_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('sub_topic_name')">
                  Sub Topic Name
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'sub_topic_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'sub_topic_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('lo_level_name')">
                  Lo Level Name
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'lo_level_name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color':
                          orderBy === 'lo_level_name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('name')">
                  LO Details
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color': orderBy === 'name' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color': orderBy === 'name' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('created_at')">
                  LO Assignment Date
                  <div class="spacing-up-down-side-set">
                    <span
                      class="arrow-up"
                      [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && isAscending
                      }"
                    ></span>
                    <span
                      class="arrow-down"
                      [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && !isAscending
                      }"
                    ></span>
                  </div>
                </th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="topicWiseLORep.length">
              <tr *ngFor="let item of topicWiseLORep; let i = index">
                <th scope="row">
                  {{ i + 1 + currentPage * pageLimit - pageLimit }}
                </th>
                <td>{{ item.medium_name | titlecase }}</td>
                <td>{{ item.subject_name | titlecase }}</td>
                <td>{{ item.standard_name | titlecase }}</td>
                <td>{{ item.lesson_name | titlecase }}</td>
                <td>{{ item.topic_name | titlecase }}</td>
                <td>{{ item.sub_topic_name | titlecase }}</td>
                <td>{{ item.lo_level_name | titlecase }}</td>
                <td>{{ item.name | titlecase }}</td>
                <td class="dateing-inn">
                  {{ item.created_at | date : "yyyy-MM-dd hh:mm a" }}
                </td>
                <td>
                  <!-- <div class="d-flex align-items-center justify-content-center">
                    <button
                      type="button"
                      class="btn ripple btn-grey me-2"
                      id="swal-parameter"
                      (click)="editTopicWiseLO(item.id)"
                    >
                      Edit
                    </button>
                    <button
                      type="button"
                      class="btn ripple btn-danger"
                      id="swal-parameter"
                      (click)="deleteTopicWiseLO(item.id)"
                    >
                      Delete
                    </button>
                  </div> -->
                  <div
                    class="d-flex align-items-center justify-content-center all-icons-edit-here-table-cls"
                  >
                    <i
                      (click)="editTopicWiseLO(item.id)"
                      class="fas fa-edit"
                    ></i>
                    <i
                      (click)="deleteTopicWiseLO(item.id)"
                      class="fas fa-trash"
                    ></i>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!topicWiseLORep.length">
              <tr>
                <td colspan="14" class="text-center">No Data Found</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between p-2 record-pg-cls-cum-font">
          <div class="d-flex align-items-center">
            <select
              class="records-select"
              [(ngModel)]="pageLimit"
              name=""
              id=""
              (change)="onPageChange(1)"
            >
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option [value]="totalItems">All</option>
            </select>
            <h6 class="m-0">&nbsp;&nbsp; - records per page</h6>
          </div>
          <ngb-pagination
            [collectionSize]="totalItems"
            [maxSize]="5"
            [rotate]="true"
            [pageSize]="pageLimit"
            [(page)]="currentPage"
            aria-label="Default pagination"
            (pageChange)="onPageChange($event)"
          >
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #TopicWiseLO>
  <div class="modal-header">
    <h4 class="modal-title">{{ EditId ? "Edit" : " Add" }} Topic Wise LO</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="onModalClose()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="topicWiseloForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
          <label>Select Topic <span class="required-asterisk">*</span></label>
          <ng-select
            id="inputGroupSelect01"
            (change)="topic($event)"
            formControlName="topic_id"
            [clearable]="false"
          >
            <ng-option value="{{ Data.id }}" *ngFor="let Data of topicList">
              {{ Data.topic_name }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="(isSubmitted || form['topic_id'].touched) && form['topic_id'].errors?.['required']"
            class="text-danger"
          >
            Topic is required.
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
          <label
            >Select Sub Topic <span class="required-asterisk">*</span></label
          >
          <ng-select
            id="inputGroupSelect01"
            (change)="subTopic($event)"
            formControlName="sub_topic_id"
            [clearable]="false"
          >
            <ng-option value="{{ Data.id }}" *ngFor="let Data of subTopicList">
              {{ Data.name }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="(isSubmitted || form['sub_topic_id'].touched) && form['sub_topic_id'].errors?.['required']"
            class="text-danger"
          >
            Subject is required.
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
          <label
            >Select LO Level <span class="required-asterisk">*</span></label
          >
          <ng-select
            id="inputGroupSelect01"
            (change)="loLevel($event)"
            formControlName="lo_level_id"
            [clearable]="false"
          >
            <ng-option value="{{ Data.id }}" *ngFor="let Data of loList">
              {{ Data.name }}
            </ng-option>
          </ng-select>
          <div
            *ngIf="(isSubmitted || form['lo_level_id'].touched) && form['lo_level_id'].errors?.['required']"
            class="text-danger"
          >
            LO Level is required.
          </div>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-12" *ngIf="EditId">
          <input
            type="text"
            class="form-control"
            placeholder="LO Details"
            formControlName="name"
          />
          <label>LO Details <span class="required-asterisk">*</span></label>
          <div
            *ngIf="(isSubmitted || form['name'].touched) && form['name'].errors?.['required']"
            class="text-danger"
          >
            LO Details is required.
          </div>
        </div>

        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse" *ngIf="!EditId">
          <label
            >Add Lesson Planning Status
            <span class="required-asterisk">*</span></label
          >

          <select class="form-control" formControlName="status">
            <option value="true">Active</option>
            <option value="false">In Active</option>
          </select>
          <div
            *ngIf="(isSubmitted || form['status'].touched) && form['status'].errors?.['required']"
            class="text-danger"
          >
            Add Lesson Planning Status is required.
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-3 mb-0">Submit</button>
      </div>
    </form>
  </div>
</ng-template>
