<app-page-header [title]="'Reporting Framework'" [items]="['Reporting']"
  [active_item]="'Add Reporting Framework'"></app-page-header>
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card add-staff-here-update-cls">
      <div class="card-header pb-0">
        <div class="d-flex justify-content-between blocking-responsive">
          <h4 class="card-title mg-b-0">Reporting Framework List</h4>
        </div>
        <div class="d-flex blocking-responsive justify-content-end align-items-center mt-2">
          <div class="d-flex spacing-down-side position-relative">
            <input class="form-control me-2 ms-1" type="text" placeholder="Search..." [(ngModel)]="searchString"
              (keyup.enter)="onSearch()" />
            <div class="set-position-auto-cls-adding">
              <i class="fas fa-search" (click)="onSearch()" [ngClass]="{ 'hide-icon': searchString }"></i>
              <i class="far fa-times-circle" (click)="onClear()" [ngClass]="{ 'show-icon': searchString }"></i>
            </div>
          </div>
          <div class="d-flex blocking-responsive">
            <div class="add-reporting spacing-down-side">
              <button class="btn btn-primary spacing-left" (click)="onModalOpen()">
                <span class="add-ics-cls-proper-adding"><i class="fas fa-plus"></i></span>Add
              </button>
            </div>
            <div class="reportiong-framework-btn-cls-add spacing-down-side export-btn-cls-add">
              <select [(ngModel)]="selectedExportOption" (change)="exportSelected(selectedExportOption)">
                <option value="null" disabled>Export</option>
                <option value="pdf">Export to Pdf</option>
                <option value="excel">Export to Excel</option>
                <option value="csv">Export to CSV</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table summary="table" class="table mg-b-0 text-md-nowrap table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col">From Employee Name</th>
                <th scope="col">
                  From Role
                </th>
                <th scope="col">To Employee Name</th>
                <th scope="col">To Role</th>
                <th scope="col" (click)="sortData('created_at')">
                  Date & Time
                  <div class="spacing-up-down-side-set">
                    <span class="arrow-up" [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && isAscending
                      }"></span>
                    <span class="arrow-down" [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && !isAscending
                      }"></span>
                  </div>
                </th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="exportReportingList.length">
              <tr *ngFor="let item of exportReportingList; let i = index">
                <th scope="row">
                  {{ i + 1 + currentPage * pageLimit - pageLimit }}
                </th>
                <td>{{ item.first_name || "-" | titlecase }}
                  {{ item.middle_name | titlecase }}
                  {{ item.last_name | titlecase }}</td>
                <td>{{ item.admin_role_name || "-" | titlecase }}</td>
                <td>
                  <div class="d-flex justify-content-center">
                    <span>
                      {{item.reporting_type == 2 ? item.user_count : "-"}}
                    </span>
                    <div class="all-icons-edit-here-table-cls" *ngIf="item.reporting_type == 2">
                      <i (click)="onView(item.id, item.reporting_type)" class="far fa-eye"></i>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex justify-content-center">
                    <span>
                      {{item.reporting_type == 1 ? item.user_count : "-"}}
                    </span>
                    <div class="all-icons-edit-here-table-cls" *ngIf="item.reporting_type == 1">
                      <i (click)="onView(item.id, item.reporting_type)" class="far fa-eye"></i>
                    </div>
                  </div>
                </td>
                <td class="dateing-inn">
                  {{ item.created_at | date : "yyyy-MM-dd hh:mm a" }}
                </td>
                <td>
                  <div class="d-flex align-items-center justify-content-center all-icons-edit-here-table-cls">
                    <i (click)="editExport(item.id)" class="fas fa-edit"></i>
                    <i (click)="deleteExport(item.id)" class="fas fa-trash"></i>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!exportReportingList.length">
              <tr>
                <td colspan="14" class="text-center">No Data Found</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between p-2 record-pg-cls-cum-font">
          <div class="d-flex align-items-center">
            <select class="records-select" [(ngModel)]="pageLimit" name="" id="" (change)="onPageChange(1)">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option [value]="totalItems">All</option>
            </select>
            <h6 class="m-0">&nbsp;&nbsp; - records per page</h6>
          </div>
          <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [rotate]="true" [pageSize]="pageLimit"
            [(page)]="currentPage" aria-label="Default pagination" (pageChange)="onPageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #exportReporting>
  <div class="modal-header">
    <h4 class="modal-title">
      {{ EditId ? "Edit" : " Add" }} Reporting Framework
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="onModalClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body inner-body-form-to-change-cls-adding">
    <form [formGroup]="exportReportingForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <h4 class="modal-title mb-0">From</h4>
        </div>
        <div class="col-lg-10 col-md-10">
          <div class="form-group selection-label-reverse">
            <label>Select Reporting Type<span class="required-asterisk">*</span>
            </label>

            <select class="form-control" formControlName="ReportingType" (change)="onReportingTypeChange()">
              <option value="1">Role</option>
              <option value="2">Employee</option>
            </select>
            <div *ngIf="(isSubmitted || form['ReportingType'].touched) && form['ReportingType'].errors?.['required']"
              class="text-danger">
              Reporting Type is required.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-2">
        </div>
        <div class="col-lg-10 col-md-10">
          <div class="form-group selection-label-reverse spacing-set-down-side" *ngIf="showRole">
            <label>Select Sub Group <span class="required-asterisk">*</span></label>
            <ng-select id="inputGroupSelect01" formControlName="SubGroup" (change)="subGroup($event)"
              [clearable]="false">
              <ng-option value="{{ Data.id }}" *ngFor="let Data of subGroupList">
                {{ Data.name }}
              </ng-option>
            </ng-select>
            <div *ngIf="(isSubmitted || form['SubGroup'].touched) && form['SubGroup'].errors?.['required']"
              class="text-danger">
              Sub group is required.
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
        </div>
        <div class="col-lg-10 col-md-10">
          <div class="form-group selection-label-reverse spacing-set-down-side" *ngIf="showRole">
            <label>Select Role <span class="required-asterisk">*</span></label>
            <ng-select id="inputGroupSelect01" formControlName="Role" [clearable]="false" (change)="getRoleId($event)">
              <ng-option value="{{ Data.id }}" *ngFor="let Data of roleList">
                {{ Data.name }}
              </ng-option>
            </ng-select>
            <div *ngIf="(isSubmitted || form['Role'].touched) && form['Role'].errors?.['required']" class="text-danger">
              Role is required.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-2">
          <h4 *ngIf="showRole" class="modal-title spacing-set-down-side">To</h4>
        </div>
        <div class="col-lg-10 col-md-10">
          <div class="form-group selection-label-reverse spacing-set-down-side" *ngIf="showRole">
            <label>Select Sub Group To
              <span class="required-asterisk">*</span></label>
            <ng-select id="inputGroupSelect01" formControlName="SubGroupTo" (change)="subGroupTo($event)"
              [clearable]="false">
              <ng-option value="{{ Data.id }}" *ngFor="let Data of subGroupList">
                {{ Data.name }}
              </ng-option>
            </ng-select>
            <div *ngIf="(isSubmitted || form['SubGroupTo'].touched) && form['SubGroupTo'].errors?.['required']"
              class="text-danger">
              Sub group is required.
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2">
        </div>
        <div class="col-lg-10 col-md-10">
          <div class="form-group selection-label-reverse spacing-set-down-side" *ngIf="showRole">
            <label>Select Role To <span class="required-asterisk">*</span></label>
            <ng-select id="inputGroupSelect01" formControlName="RoleTo" [clearable]="false"
              (change)="getRoleToId($event)" [closeOnSelect]="false" [multiple]="true">
              <ng-template ng-header-tmp>
                <div>
                  <button class="btn btn-link" type="button" (click)="roleToSelectAll()">
                    Select All
                  </button>
                  <button class="btn btn-link" type="button" (click)="roleToClearAll()">
                    Clear All
                  </button>
                </div>
              </ng-template>
              <ng-option value="{{ Data.id }}" *ngFor="let Data of roleToList">
                {{ Data.name }}
              </ng-option>
            </ng-select>
            <div *ngIf="(isSubmitted || form['RoleTo'].touched) && form['RoleTo'].errors?.['required']"
              class="text-danger">
              Role is required.
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-2" *ngIf="showEmployee">
        </div>
        <div class="col-lg-10 col-md-10">
          <div formArrayName="employee_user_ids" *ngIf="showEmployee">
            <div *ngFor="let role of employee_user_ids.controls; let i = index" [formGroupName]="i">
              <div class="form-group selection-label-reverse">
                <label>Select Employee From</label>
                <ng-select formControlName="employee_user_id">
                  <ng-option [value]="user.id" *ngFor="let user of staffList">{{
                    user.first_name +
                    " " +
                    user.middle_name +
                    " " +
                    user.last_name | titlecase
                    }}</ng-option>
                </ng-select>
                <div class="text-danger"
                  *ngIf="role.get('employee_user_id')?.errors?.['required'] && (role.get('employee_user_id')?.touched || isSubmitted)">
                  Employee is required.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2" formArrayName="employee_user_ids" *ngIf="showEmployee">
          <h4 class="modal-title mb-0">To</h4>
        </div>
        <div class="col-lg-10 col-md-10">
          <div formArrayName="to_employee_user_ids" *ngIf="showEmployee">
            <div *ngFor="let role of to_employee_user_ids.controls; let i = index" [formGroupName]="i">
              <div class="form-group selection-label-reverse">
                <label>Select Employee To</label>
                <ng-select formControlName="to_employee_user_id" [closeOnSelect]="false" [multiple]="true">
                  <ng-template ng-header-tmp>
                    <div>
                      <button class="btn btn-link" type="button" (click)="onSelectAll()">
                        Select All
                      </button>
                      <button class="btn btn-link" type="button" (click)="onClearAll()">
                        Clear All
                      </button>
                    </div>
                  </ng-template>
                  <ng-option [value]="user.id" *ngFor="let user of toStaffList">{{
                    user.first_name +
                    " " +
                    user.middle_name +
                    " " +
                    user.last_name | titlecase
                    }}</ng-option>
                </ng-select>
                <div class="text-danger"
                  *ngIf="role.get('to_employee_user_id')?.errors?.['required'] && (role.get('to_employee_user_id')?.touched || isSubmitted)">
                  Employee is required.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-4 mb-0">Submit</button>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #view>
  <div class="modal-header">
    <h4 class="modal-title">Reporting Framework To</h4>
    <button type="button" class="close" aria-label="Close" (click)="onModalClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="table-responsive">
      <table summary="table" class="table mg-b-0 text-md-nowrap table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Sr. No.</th>
            <th scope="col" *ngIf="viewReportingType == 1">Role</th>
            <th scope="col" *ngIf="viewReportingType == 2">Employee Name</th>
          </tr>
        </thead>
        <tbody *ngIf="viewList?.length">
          <tr *ngFor="let item of viewList[0].user_list let i = index">
            <th scope="row">
              {{ i + 1 + currentPage * pageLimit - pageLimit }}
            </th>
            <td *ngIf="viewReportingType == 1">{{ item.admin_role_name || "-" | titlecase }}</td>
            <td *ngIf="viewReportingType == 2">
              {{ item.first_name || "-" | titlecase }}
              {{ item.middle_name | titlecase }}
              {{ item.last_name | titlecase }}
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="!viewList?.length">
          <tr>
            <td colspan="14" class="text-center">No Data Found</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>