<div class="row mt-3">
  <div class="col-xl-12">
    <div class="card add-staff-here-update-cls mt-4">
      <div class="card-header pb-0">
        <div class="d-flex justify-content-between blocking-responsive">
          <h4 class="card-title mg-b-0">Add Group</h4>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="groupForm">
          <div class="row">
            <div class="form-group selection-label-reverse col-lg-3 col-md-6 col-12">
              <label for="formSelection">Select Form</label>
              <ng-select [items]="formOptions" bindValue="_id" bindLabel="formName"
                formControlName="formId" (change)="getFormStepList()">
              </ng-select>
              <div *ngIf="(isSubmitted || formControls['formId'].touched) && formControls['formId'].errors"
                class="position-set-auto-default">
                <div class="error_message" *ngIf="formControls['formId'].errors['required']">
                  <span class="e_arrow"></span>
                  <i>*Form is required</i>
                </div>
              </div>
            </div>
            <div class="form-group selection-label-reverse col-lg-3 col-md-6 col-12">
              <label for="formSelection">Select Steps</label>
              <ng-select [items]="formSteps" bindValue="_id" bindLabel="stepName"
                formControlName="stepId" (change)="getGroupList()">
              </ng-select>
              <div *ngIf="(isSubmitted || formControls['stepId'].touched) && formControls['stepId'].errors">
                <div class="error_message" *ngIf="formControls['stepId'].errors['required']">
                  <span class="e_arrow"></span>
                  <i>*Step is required</i>
                </div>
              </div>
            </div>
            <div class="form-group col-lg-3 col-md-6 col-12">
              <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter Group Name" formControlName="groupName" appTrimWhitespace>
              <label for="exampleInputEmail1">Group Name</label>
              <div *ngIf="(isSubmitted || formControls['groupName'].touched) && formControls['groupName'].errors">
                <div class="error_message" *ngIf="formControls['groupName'].errors['required']">
                  <span class="e_arrow"></span>
                  <i>*Group Name is required</i>
                </div>
              </div>
            </div>
            <div class="form-group col-lg-3 col-md-6 col-12 mb-0">
              <button type="submit" class="btn btn-primary" (click)="onSubmit()">Add Group</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xl-12" *ngIf="groupOptions.length > 0">
    <div class="card add-staff-here-update-cls">
      <div class="card-header pb-0">
        <div class="d-flex justify-content-between blocking-responsive">
          <h4 class="card-title mg-b-0">Groups List</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table summary="table" class="table mg-b-0 text-md-nowrap table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Form name</th>
                <th scope="col">Step name</th>
                <th scope="col">Group name</th>
                <th scope="col">Enable/Disable</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let group of groupOptions; let i  = index">
                <td>{{ group?.formName }}</td>
                <td>{{ group?.stepName }}</td>
                <td>{{ group.groupName }}</td>
                <td>{{ group?.isActive ? 'Yes' : 'No' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
