<app-page-header [title]="'Generate LC'" [items]="['Generate LC']" [active_item]="'Add Generate LC'"></app-page-header>
<div class="row row-sm">
  <div class="col-xl-12">
    <div class="card add-staff-here-update-cls">
      <div class="card-header pb-0">
        <div class="d-flex justify-content-between blocking-responsive">
          <h4 class="card-title mg-b-0">Generate LC List</h4>
        </div>

        <div class="d-flex blocking-responsive justify-content-end align-items-center mt-2">
          <div class="d-flex spacing-down-side position-relative">
            <input class="form-control me-2 ms-1" type="text" placeholder="Search..." [(ngModel)]="searchString"
              (keyup.enter)="onSearch()" />
            <div class="set-position-auto-cls-adding">
              <i class="fas fa-search" [ngClass]="{ 'hide-icon': searchString }"></i>
              <i class="far fa-times-circle" (click)="onClear()" [ngClass]="{ 'show-icon': searchString }"></i>
            </div>
          </div>
          <div class="d-flex blocking-responsive">
            <div class="add-reporting spacing-down-side">
              <button class="btn btn-primary spacing-left" (click)="onModalOpen()">
                <span class="add-ics-cls-proper-adding"><i class="fas fa-plus"></i></span>Add
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table summary="table" class="table mg-b-0 text-md-nowrap table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Sr. No.</th>
                <th scope="col" (click)="sortData('lc_application_id')">
                  LC Application Number
                  <div class="spacing-up-down-side-set">
                    <span class="arrow-up" [ngClass]="{
                        'arrow-color':
                          orderBy === 'lc_application_id' && isAscending
                      }"></span>
                    <span class="arrow-down" [ngClass]="{
                        'arrow-color':
                          orderBy === 'lc_application_id' && !isAscending
                      }"></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('created_at')">
                  LC Issue Date
                  <div class="spacing-up-down-side-set">
                    <span class="arrow-up" [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && isAscending
                      }"></span>
                    <span class="arrow-down" [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && !isAscending
                      }"></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('created_at')">
                  LC Book Number
                  <div class="spacing-up-down-side-set">
                    <span class="arrow-up" [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && isAscending
                      }"></span>
                    <span class="arrow-down" [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && !isAscending
                      }"></span>
                  </div>
                </th>
                <th scope="col" (click)="sortData('created_at')">
                  LC Number
                  <div class="spacing-up-down-side-set">
                    <span class="arrow-up" [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && isAscending
                      }"></span>
                    <span class="arrow-down" [ngClass]="{
                        'arrow-color': orderBy === 'created_at' && !isAscending
                      }"></span>
                  </div>
                </th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody *ngIf="getGenerateLcList.length">
              <tr *ngFor="let item of getGenerateLcList; let i = index">
                <th scope="row">
                  {{ i + 1 + currentPage * pageLimit - pageLimit }}
                </th>
                <td>{{ item.lc_application_id }}</td>
                <td>{{ item.lc_issue_date }}</td>
                <td>{{ item.lc_book_number }}</td>
                <td>{{ item.lc_number }}</td>

                <td>
                  <div
                    class="d-flex align-items-center justify-content-center all-icons-edit-here-table-cls"
                  >
                    <i
                      (click)="downloadGenerateLc(item.document)"
                      class="fas fa-download"
                    ></i>
                  </div>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="!getGenerateLcList.length">
              <tr>
                <td colspan="14" class="text-center">No Data Found</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between p-2 record-pg-cls-cum-font">
          <div class="d-flex align-items-center">
            <select class="records-select" [(ngModel)]="pageLimit" name="" id="" (change)="onPageChange(1)">
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option [value]="totalItems">All</option>
            </select>
            <h6 class="m-0">&nbsp;&nbsp; - records per page</h6>
          </div>
          <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [rotate]="true" [pageSize]="pageLimit"
            [(page)]="currentPage" aria-label="Default pagination" (pageChange)="onPageChange($event)">
          </ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #GenerateLc>
  <div class="modal-header">
    <h4 class="modal-title">{{ EditId ? "Edit" : " Add" }} Generate Lc</h4>
    <button type="button" class="close" aria-label="Close" (click)="onModalClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="GenerateLcForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="form-group col-lg-6 col-md-6 col-12 selection-label-reverse">
          <label
            >Select LC Application Number
            <span class="required-asterisk">*</span></label
          >
          <ng-select
            id="inputGroupSelect01"
            formControlName="lcApplication"
            (change)="lcApplicationNo($event)"
            [clearable]="false"
          >
            <ng-option
              value="{{ Data._id }}"
              *ngFor="let Data of lcApplicationList"
            >
              {{ Data._id }}
            </ng-option>
          </ng-select>
          <div *ngIf="(isSubmitted || form['lcApplication'].touched) && form['lcApplication'].errors?.['required']"
            class="text-danger">
            LC Application Number is required.
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12">
          <input class="form-control" type="date" id="birth_date" formControlName="date" placeholder="DD-MM-YYYY" />
          <label> LC Issue Date</label>
          <div class="text-danger" *ngIf="(isSubmitted || form['date'].touched) && form['date'].errors?.['required']">
            LC Issue Date is required
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12">
          <input type="text" class="form-control" placeholder="Enter LC Book Number" formControlName="lCBookNumber" />
          <label>
            Add LC Book Number <span class="required-asterisk">*</span></label>
          <div *ngIf="(isSubmitted || form['lCBookNumber'].touched) && form['lCBookNumber'].errors?.['required']"
            class="text-danger">
            LC Book Number is required.
          </div>
        </div>
        <div class="form-group col-lg-6 col-md-6 col-12">
          <input type="text" class="form-control" placeholder="Enter LC Number " formControlName="lCNumber" />
          <label> Add LC Number <span class="required-asterisk">*</span></label>
          <div *ngIf="(isSubmitted || form['lCNumber'].touched) && form['lCNumber'].errors?.['required']"
            class="text-danger">
            LC Number is required.
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary mt-4 mb-0">Submit</button>
      </div>
    </form>
  </div>
</ng-template>